# Node modules
node_modules
# Enviornment files
.env
#Pycache
__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.clangd
.cache

# Just in case, we ingore any video files that show up in the project files
*.mp4
*.mkv
*.avi
*.MOV

*.log

# Allow 
!server/tests/samplefiles/*
