[submodule "server/extern/mongoose"]
	path = server/extern/mongoose
	url = https://github.com/cesanta/mongoose.git
	branch = 7.17
[submodule "server/extern/catch2"]
	path = server/extern/catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
