[submodule "server/extern/catch2"]
	path = server/extern/catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
[submodule "server/extern/mongoose-patch"]
	path = server/extern/mongoose-patch
	url = https://github.com/PUM-4-2025/mongoose-patch.git
